@import url(bootstrap.css);
@font-face {
  font-family: 'Liana';
  src: url("../fonts/Liana.woff2") format("woff2"), url("../fonts/Liana.woff") format("woff"), url("../fonts/Liana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px; }
  header svg {
    width: 100%; }
  header ul {
    flex-wrap: wrap;
    padding-left: 0; }
  header li {
    padding-top: 2px;
    list-style: none;
    margin: 0 18px; }
    header li:last-of-type {
      margin-right: 0; }
    header li:first-of-type {
      margin-left: 0; }
    header li a:hover {
      color: #000; }
    @media screen and (max-width: 768px) {
      header li {
        margin-left: 0; } }

.logo {
  display: block;
  max-width: 60px; }
  .logo img {
    display: block;
    width: 100%; }

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: auto; }

a {
  text-decoration: none;
  display: inline-block;
  color: #000; }

.language {
  padding-top: 2px;
  text-align: end; }

div.carousel {
  position: relative; }

.btn-scroll-right {
  position: absolute;
  right: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0; }

.btn-scroll-left {
  position: absolute;
  left: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: rotate(180deg); }

ul.items {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0;
  margin: 0;
  /*margin-left: -320px;*/
  /*margin-left: -400px;*/
  position: relative;
  align-items: center; }

ul.items li {
  list-style-type: none;
  /*width: 288px;*/
  /*width: 400px;*/
  transition: transform .5s linear, left .5s linear, margin-left .5s linear, margin-right .5s linear, width .5s linear, height .5s linear;
  position: relative;
  /*transform: scale(0);*/
  width: 0;
  height: 0; }

/* all items */
ul.items li span {
  display: none; }

ul.items li:nth-child(3) {
  margin-left: 10px; }

ul.items li:nth-child(5) {
  margin-right: 10px; }

/* right items */
ul.items li:nth-child(2),
ul.items li:nth-child(6) {
  /*transform: scale(.5);*/
  width: 200px;
  height: 300px; }

ul.items li:nth-child(3) {
  /*margin-left: -49px;*/
  /*margin-right: 49px;*/ }

/* center item */
ul.items li:nth-child(4) {
  /*transform: scale(1);*/
  width: 400px;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer; }

/* left items */
ul.items li:nth-child(3),
ul.items li:nth-child(5) {
  /*transform: scale(.75);*/
  width: 300px;
  height: 450px; }

ul.items img {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 100%;
  height: 100%; }

/* titles */
ul.titles {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 45%;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: red; }
  ul.titles a {
    color: white; }

ul.titles li {
  list-style-type: none;
  transform: scale(0);
  opacity: 0;
  transition: transform .5s linear, opacity .5s linear;
  position: absolute;
  width: 100%;
  top: 0;
  font-weight: 400;
  color: #fff;
  font-size: 170px;
  font-family: "Liana"; }

ul.titles li:nth-child(4) {
  opacity: 1;
  transform: scale(1); }

div.carousel a.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36%; }

div.carousel a.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36%; }

h1 {
  font-weight: 400;
  color: #000;
  font-size: 100px;
  font-family: "Liana";
  margin-bottom: 110px; }

.text {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 24px; }

.small-title {
  font-weight: 500;
  color: #000;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 24px; }

.main-section {
  height: 800px;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
  background-image: url("../images/freedom-main-sec.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-bottom: 200px; }

.light-main-sec {
  background-image: url("../images/light-main-pic.jpg"); }

.flight-main-sec {
  background-image: url("../images/flight-main-sec.jpg"); }

.main-sec-picture {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 660px;
  padding: 0; }

.main-sec-article {
  max-width: 608px; }

.main-sec-p {
  max-width: 296px;
  width: 100%; }
  .main-sec-p:first-of-type {
    margin-right: 16px;
    margin-bottom: 0; }

.main-sec-p-cont {
  display: flex;
  margin-bottom: 40px; }

.button {
  text-align: center;
  display: inline-block;
  color: #000;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  padding: 30px 55px;
  border-radius: 50%;
  border: 1px solid #000; }

.cont {
  max-width: 1234px;
  margin: auto; }
  @media screen and (max-width: 1300px) {
    .cont {
      padding-left: 10px;
      padding-right: 10px; } }

.section2 {
  margin-bottom: 200px; }
  .section2 .sec2-picture {
    max-width: 400px;
    margin-right: 16px; }
    .section2 .sec2-picture:last-of-type {
      margin-right: 0; }
  .section2 img {
    display: block;
    width: 100%; }

.section-match {
  margin-bottom: 200px; }
  .section-match article {
    padding-top: 170px; }
  .section-match .match-pictures {
    margin-bottom: 24px; }
  .section-match .match-big-picture {
    max-width: 608px;
    margin-right: 16px; }
    .section-match .match-big-picture img {
      display: block;
      width: 100%; }
  .section-match .match-small-pic {
    width: 49%;
    max-width: 296px; }
    .section-match .match-small-pic img {
      display: block;
      width: 100%;
      margin-bottom: 24px; }
    .section-match .match-small-pic:first-of-type {
      margin-right: 16px; }
  .section-match .match-title {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
    color: #000;
    font-size: 20px;
    font-family: "Raleway", sans-serif; }
  .section-match .match-text {
    font-weight: 400;
    color: #000;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    margin-bottom: 0; }

.rest-cardigans {
  margin-bottom: 200px; }
  .rest-cardigans h4 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
    color: #000;
    font-size: 20px;
    font-family: "Raleway", sans-serif; }
  .rest-cardigans .owl-pic {
    max-width: 400px; }
    .rest-cardigans .owl-pic img {
      display: block;
      width: 100%; }

.owl-carousel .owl-nav.disabled {
  display: block; }

.owl-carousel {
  position: relative; }

.owl-carousel .owl-nav button.owl-prev {
  width: 40px;
  height: 40px;
  background-image: url("../images/btn-prev.svg");
  position: absolute;
  top: 23%;
  left: -50px;
  transition: all 0.3s;
  border-radius: 50%; }
  .owl-carousel .owl-nav button.owl-prev:hover {
    transition: all 0.3s;
    transform: scale(1.2); }
  .owl-carousel .owl-nav button.owl-prev:active {
    background-color: #565656;
    transition: all 0.3s;
    transform: scale(1); }

.owl-carousel .owl-nav button.owl-next {
  width: 40px;
  height: 40px;
  background-image: url("../images/btn-next.svg");
  position: absolute;
  top: 24%;
  right: -50px;
  transition: all 0.3s;
  border-radius: 50%; }
  .owl-carousel .owl-nav button.owl-next:hover {
    transition: all 0.3s;
    transform: scale(1.2); }
  .owl-carousel .owl-nav button.owl-next:active {
    background-color: #565656;
    transition: all 0.3s;
    transform: scale(1); }

.owl-item.active.center {
  margin: 0 8px; }

/*# sourceMappingURL=main-style.css.map */
