@import url(bootstrap.css);
@font-face {
  font-family: 'Liana';
  src: url("../fonts/Lainy_Day.woff2") format("woff2"), url("../fonts/Lainy_Day.woff") format("woff"), url("../fonts/Lainy_Day.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

header {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px; }
  header svg {
    width: 100%; }
  header ul {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0; }
  header li {
    padding-top: 2px;
    list-style: none;
    margin: 0 18px; }
    header li:last-of-type {
      margin-right: 0; }
    header li:first-of-type {
      margin-left: 0; }
    header li a:hover {
      color: #000; }
    @media screen and (max-width: 768px) {
      header li {
        margin-left: 0; } }

.logo {
  display: block;
  max-width: 60px; }
  .logo img {
    display: block;
    width: 100%; }

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: auto; }

section {
  position: relative; }

a {
  text-decoration: none;
  display: inline-block;
  color: #000; }

.language {
  padding-top: 2px;
  text-align: end; }

div.carousel {
  position: relative; }

.btn-scroll-right {
  position: absolute;
  right: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0; }

.btn-scroll-left {
  position: absolute;
  left: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: rotate(180deg); }

ul.items {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0;
  margin: 0;
  /*margin-left: -320px;*/
  /*margin-left: -400px;*/
  position: relative;
  align-items: center; }
  @media screen and (max-width: 575px) {
    ul.items {
      height: 400px; } }

ul.items li {
  list-style-type: none;
  /*width: 288px;*/
  /*width: 400px;*/
  transition: transform .5s ease-in-out, left .5s ease-in-out, margin-left .5s ease-in-out, margin-right .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out, padding-top .5s ease-in-out;
  position: relative;
  /*transform: scale(0);*/
  width: 0;
  height: 0; }

/* all items */
ul.items li span {
  display: none; }

ul.items li:nth-child(3) {
  margin-left: 10px; }
  @media screen and (max-width: 575px) {
    ul.items li:nth-child(3) {
      margin-left: -105px;
      margin-right: -10px; } }

ul.items li:nth-child(5) {
  margin-right: 10px; }
  @media screen and (max-width: 575px) {
    ul.items li:nth-child(5) {
      margin-right: -105px;
      margin-left: -10px; } }

/* right items */
ul.items li:nth-child(2),
ul.items li:nth-child(6) {
  /*transform: scale(.5);*/
  width: 200px;
  height: 300px; }
  @media screen and (max-width: 765px) {
    ul.items li:nth-child(2),
    ul.items li:nth-child(6) {
      width: 0px;
      height: 0px; } }

ul.items li:nth-child(3) {
  /*margin-left: -49px;*/
  /*margin-right: 49px;*/ }

/* center item */
ul.items li:nth-child(4) {
  /*transform: scale(1);*/
  width: 400px;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer; }
  @media screen and (max-width: 575px) {
    ul.items li:nth-child(4) {
      padding-top: 50px;
      height: 400px; } }

/* left items */
ul.items li:nth-child(3),
ul.items li:nth-child(5) {
  /*transform: scale(.75);*/
  width: 300px;
  height: 450px; }
  @media screen and (max-width: 575px) {
    ul.items li:nth-child(3),
    ul.items li:nth-child(5) {
      padding-top: 50px;
      height: 300px; } }

ul.items img {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 100%;
  height: 100%; }

/* titles */
ul.titles {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 45%;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: red; }
  ul.titles a {
    color: white; }

ul.titles li {
  list-style-type: none;
  transform: scale(0);
  opacity: 0;
  transition: transform .5s linear, opacity .5s linear;
  position: absolute;
  width: 100%;
  top: 0;
  font-weight: 400;
  color: #fff;
  font-size: 170px;
  font-family: "Liana"; }

ul.titles li:nth-child(4) {
  opacity: 1;
  transform: scale(1); }

div.carousel a.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36%; }

div.carousel a.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36%; }

h1 {
  font-weight: 400;
  color: #000;
  font-size: 100px;
  font-family: "Liana"; }

.text {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 24px; }

.title {
  font-weight: 500;
  color: #000;
  font-size: 30px;
  font-family: "Raleway", sans-serif; }
  @media screen and (max-width: 912px) {
    .title {
      font-size: 24px; } }

.main-section {
  position: relative; }
  .main-section:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: -1px;
    width: 100%; }
  .main-section:after {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%; }
    @media screen and (max-width: 800px) {
      .main-section:after {
        display: none; } }
  .main-section .big-pic-main {
    position: relative;
    margin-right: -200px;
    max-width: 715px; }
    .main-section .big-pic-main img {
      display: block;
      width: 100%; }
  @media screen and (max-width: 1060px) {
    .main-section .main-sec-article {
      padding-top: 65px; }
    .main-section .main-sec-p-cont {
      margin-bottom: 45px; }
    .main-section .button {
      margin-bottom: 60px; } }
  @media screen and (max-width: 912px) {
    .main-section h1 {
      font-size: 50px; } }
  @media screen and (max-width: 830px) {
    .main-section .button {
      padding: 15px 30px; } }
  @media screen and (max-width: 800px) {
    .main-section .cont.d-flex {
      flex-direction: column-reverse; }
    .main-section .big-pic-main {
      margin: 0 -20px;
      max-width: 800px; }
      .main-section .big-pic-main:after {
        content: '';
        display: block;
        height: 1px;
        background-color: gray;
        position: absolute;
        bottom: 0;
        width: 100%; }
    .main-section .main-sec-article {
      max-width: 100%;
      margin-right: 0; }
    .main-section .button {
      display: none; }
    .main-section .main-sec-p {
      max-width: 100%; }
    .main-section h1 {
      position: absolute;
      top: 23px;
      right: 20px;
      z-index: 2; }
    .main-section .main-sec-p-cont {
      margin-bottom: 0; } }
  @media screen and (max-width: 550px) {
    .main-section .main-sec-p-cont {
      flex-direction: column; }
    .main-section .main-sec-p {
      margin-bottom: 0;
      max-width: 100%; }
      .main-section .main-sec-p:first-of-type {
        margin-right: 0;
        margin-bottom: 20px; } }

.main-sec-picture {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 660px;
  padding: 0; }

.main-sec-article {
  padding-top: 105px;
  max-width: 49%;
  margin-right: 20px; }
  .main-sec-article .title {
    margin-bottom: 24px; }

.main-sec-p {
  max-width: 292px;
  width: 100%; }
  .main-sec-p:first-of-type {
    margin-right: 25px;
    margin-bottom: 0; }

.main-sec-p-cont {
  display: flex;
  margin-bottom: 60px; }

.button {
  text-align: center;
  display: inline-block;
  color: #000;
  margin-bottom: 120px;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  padding: 30px 55px;
  border-radius: 50%;
  border: 1px solid #000; }

.cont {
  max-width: 1252px;
  margin: auto; }
  @media screen and (max-width: 1300px) {
    .cont {
      padding-left: 20px;
      padding-right: 20px; } }

.section2 {
  padding-top: 150px;
  padding-bottom: 150px; }
  .section2 .sec2-picture {
    max-width: 400px;
    margin-right: 16px; }
    .section2 .sec2-picture:last-of-type {
      margin-right: 0; }
  .section2 img {
    display: block;
    width: 100%; }
  @media screen and (max-width: 650px) {
    .section2 {
      padding-top: 60px; }
      .section2 .cont.d-flex {
        flex-direction: column-reverse; }
        .section2 .cont.d-flex .sec2-picture {
          margin-right: 0; }
          .section2 .cont.d-flex .sec2-picture:nth-of-type(1) {
            max-width: 100%; }
          .section2 .cont.d-flex .sec2-picture:nth-of-type(2) {
            max-width: 75%;
            position: relative;
            z-index: 2;
            bottom: 125px;
            left: 25%;
            min-width: 205px; } }
        @media screen and (max-width: 650px) and (max-width: 495px) {
          .section2 .cont.d-flex .sec2-picture:nth-of-type(2) {
            bottom: 60px; } }
  @media screen and (max-width: 650px) {
          .section2 .cont.d-flex .sec2-picture:nth-of-type(3) {
            max-width: 75%;
            min-width: 205px;
            transform: scale(-1, 1); } }

.section-match:before {
  content: '';
  display: block;
  height: 1px;
  background-color: gray;
  position: absolute;
  top: 0;
  width: 100%; }
.section-match:after {
  content: '';
  display: block;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%; }
.section-match article {
  padding-top: 72px; }
  @media screen and (max-width: 1085px) {
    .section-match article {
      padding-top: 10px; } }
  @media screen and (max-width: 943px) {
    .section-match article {
      width: 100%; }
      .section-match article .d-flex {
        justify-content: center; } }
.section-match .match-pictures {
  margin-bottom: 24px; }
.section-match .match-big-picture {
  max-width: 616px;
  margin-right: 16px;
  max-height: 800px;
  height: 100%;
  overflow: hidden; }
  .section-match .match-big-picture img {
    display: block;
    width: 100%; }
  @media screen and (max-width: 943px) {
    .section-match .match-big-picture {
      display: none; } }
.section-match .match-small-pic {
  width: 49%;
  max-width: 296px; }
  .section-match .match-small-pic img {
    display: block;
    width: 100%;
    margin-bottom: 24px; }
  .section-match .match-small-pic:first-of-type {
    margin-right: 16px; }
    @media screen and (max-width: 943px) {
      .section-match .match-small-pic:first-of-type {
        margin-right: 20px; } }
.section-match .title {
  text-align: center;
  margin-bottom: 24px; }
  @media screen and (max-width: 660px) {
    .section-match .title {
      text-align: start; } }
  @media screen and (max-width: 416px) {
    .section-match .title {
      max-width: 205px; } }
.section-match .match-text {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  margin-bottom: 0; }
  @media screen and (max-width: 610px) {
    .section-match .match-text {
      font-size: 14px; } }
@media screen and (max-width: 943px) {
  .section-match {
    padding-bottom: 60px; } }

.rest-cardigans {
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 150px; }
  .rest-cardigans .cont {
    position: relative; }
  .rest-cardigans h4 {
    margin-bottom: 60px; }
    @media screen and (max-width: 980px) {
      .rest-cardigans h4 {
        margin-bottom: 24px; } }
  @media screen and (max-width: 1150px) {
    .rest-cardigans {
      padding-top: 50px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 680px) {
    .rest-cardigans {
      padding-top: 12px; } }

.ul-carousel {
  list-style: none;
  display: flex;
  align-items: center;
  height: 650px;
  padding: 0; }
  @media screen and (max-width: 930px) {
    .ul-carousel {
      height: 610px; } }
  @media screen and (max-width: 780px) {
    .ul-carousel {
      height: 530px; } }
  @media screen and (max-width: 680px) {
    .ul-carousel {
      height: 450px; } }
  @media screen and (max-width: 500px) {
    .ul-carousel {
      height: 380px; } }
  @media screen and (max-width: 380px) {
    .ul-carousel {
      height: 325px; } }
  .ul-carousel li {
    position: relative;
    box-sizing: border-box;
    transition: width 0.3s ease-in, height 0.3s ease-in;
    width: 0; }
    .ul-carousel li img {
      display: block;
      width: 100%;
      height: 100%; }
    .ul-carousel li:nth-of-type(2) {
      display: block;
      max-width: 510px;
      width: 100%;
      margin-right: 125px; }
      @media screen and (max-width: 1250px) {
        .ul-carousel li:nth-of-type(2) {
          margin-right: 90px; } }
      @media screen and (max-width: 1150px) {
        .ul-carousel li:nth-of-type(2) {
          margin-right: 50px; } }
      @media screen and (max-width: 1050px) {
        .ul-carousel li:nth-of-type(2) {
          margin-right: 20px; } }
    .ul-carousel li:nth-of-type(3) {
      display: block;
      max-width: 404px;
      width: 80%;
      margin-right: 125px; }
      @media screen and (max-width: 1250px) {
        .ul-carousel li:nth-of-type(3) {
          margin-right: 90px; } }
      @media screen and (max-width: 1150px) {
        .ul-carousel li:nth-of-type(3) {
          margin-right: 50px; } }
      @media screen and (max-width: 1050px) {
        .ul-carousel li:nth-of-type(3) {
          margin-right: 20px; } }
    .ul-carousel li:nth-of-type(4) {
      display: block;
      max-width: 510px;
      width: 100%; }

.arrow-cont {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 2px;
  right: 0; }
  @media screen and (max-width: 1300px) {
    .arrow-cont {
      right: 20px; } }
  @media screen and (max-width: 780px) {
    .arrow-cont {
      position: static;
      margin: auto; } }

.arrow-left {
  display: inline-block;
  height: 52px;
  width: 105px;
  background-image: url("../images/arrow-left-new.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    .arrow-left {
      transform: scale(0.9); } }

.arrow-right {
  display: inline-block;
  height: 52px;
  width: 105px;
  background-image: url("../images/arrow-left-new.svg");
  transform: scale(-1, 1);
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (max-width: 500px) {
    .arrow-right {
      transform: scale(-0.9, 0.9); } }

.overflow-x {
  overflow-x: hidden; }

.m {
  margin-right: -450px; }

.order-sec {
  padding-top: 24px; }
  .order-sec:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%; }
  @media screen and (max-width: 998px) {
    .order-sec .flex-adapt {
      flex-direction: column-reverse; } }
  .order-sec .title {
    margin-bottom: 60px; }
    @media screen and (max-width: 896px) {
      .order-sec .title {
        margin-bottom: 24px; } }
  .order-sec .photo-designer {
    max-width: 616px; }
    .order-sec .photo-designer img {
      display: block;
      width: 100%; }
    @media screen and (max-width: 998px) {
      .order-sec .photo-designer {
        margin: auto; } }
  .order-sec .designer-text {
    max-width: 635px;
    width: 100%; }
    @media screen and (max-width: 998px) {
      .order-sec .designer-text {
        max-width: 100%;
        margin-bottom: 36px; } }
  .order-sec .designer-title {
    font-weight: 400;
    color: #000;
    font-size: 60px;
    font-family: "Liana";
    line-height: 60px;
    position: relative;
    margin-bottom: 70px;
    padding-top: 116px;
    right: 10%;
    margin-right: -10%; }
    @media screen and (max-width: 1163px) {
      .order-sec .designer-title {
        font-size: 45px;
        margin-bottom: 45px; } }
    @media screen and (max-width: 1120px) {
      .order-sec .designer-title {
        padding-top: 25px; } }
    @media screen and (max-width: 998px) {
      .order-sec .designer-title {
        margin-right: 0;
        padding-top: 0;
        position: static;
        max-width: 700px; } }
    @media screen and (max-width: 500px) {
      .order-sec .designer-title {
        font-size: 40px;
        margin-bottom: 40px; } }
  .order-sec .designer-speech {
    font-weight: 400;
    color: #000;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    padding-left: 126px;
    position: relative;
    margin-bottom: 0;
    line-height: 28px; }
    .order-sec .designer-speech:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 17px;
      background-image: url("../images/dots.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 100px; }
      @media screen and (max-width: 1163px) {
        .order-sec .designer-speech:before {
          position: relative;
          left: 0; } }
      @media screen and (max-width: 896px) {
        .order-sec .designer-speech:before {
          top: 7px; } }
    .order-sec .designer-speech span {
      display: block;
      max-width: 510px;
      margin-bottom: 30px; }
      @media screen and (max-width: 1163px) {
        .order-sec .designer-speech span {
          margin-bottom: 20px; } }
      .order-sec .designer-speech span:last-of-type {
        margin-bottom: 40px; }
        @media screen and (max-width: 470px) {
          .order-sec .designer-speech span:last-of-type {
            margin-bottom: 12px; } }
      @media screen and (max-width: 998px) {
        .order-sec .designer-speech span {
          max-width: 900px; } }
    @media screen and (max-width: 1163px) {
      .order-sec .designer-speech {
        padding-left: 30px; } }
    @media screen and (max-width: 998px) {
      .order-sec .designer-speech {
        padding-left: 0; } }
    @media screen and (max-width: 500px) {
      .order-sec .designer-speech {
        font-size: 16px; } }
  .order-sec .designer-name {
    font-weight: 600;
    color: #000;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-align: end;
    margin-bottom: 0; }
  .order-sec .test-j {
    padding-top: 150px;
    margin-bottom: 174px; }

.about-main-sec {
  background-image: url("../images/about-main-big.jpg");
  background-position: top center;
  background-size: cover;
  height: 92vh; }
  @media screen and (max-width: 767px) {
    .about-main-sec {
      background-image: url("../images/about-main-s.jpg"); } }
  .about-main-sec:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%; }
  .about-main-sec .pro-collection {
    padding-top: 20%;
    margin-bottom: 50vh;
    margin-left: 22px;
    margin-right: 22px;
    font-family: Liana;
    font-size: 100px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .about-main-sec .pro-collection {
        font-size: 50px;
        margin-left: 0;
        margin-right: 0; } }
  @media screen and (max-width: 575px) {
    .about-main-sec .span-collection {
      position: relative;
      top: 160px; } }

.about-article-sec {
  padding-top: 150px;
  margin-bottom: 150px; }
  @media screen and (max-width: 767px) {
    .about-article-sec {
      padding-top: 60px;
      margin-bottom: 60px; } }
  .about-article-sec:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%; }
  .about-article-sec:after {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: -150px;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .about-article-sec:after {
        bottom: -60px; } }
  .about-article-sec .about-main-comment {
    width: 494px;
    font-family: Raleway;
    font-size: 30px;
    line-height: 48px;
    align-self: center; }
    @media screen and (max-width: 575px) {
      .about-article-sec .about-main-comment {
        font-size: 20px;
        line-height: 30px; } }
    .about-article-sec .about-main-comment .comment-vidrodzhennya {
      font-family: Liana;
      font-size: 60px; }
      @media screen and (max-width: 1199px) {
        .about-article-sec .about-main-comment .comment-vidrodzhennya {
          font-size: 52px; } }
      @media screen and (max-width: 575px) {
        .about-article-sec .about-main-comment .comment-vidrodzhennya {
          font-size: 34px; } }
  .about-article-sec .comment-text {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px; }
    @media screen and (max-width: 575px) {
      .about-article-sec .comment-text {
        font-size: 14px;
        line-height: 20px; } }
  .about-article-sec .left-part {
    margin-bottom: 24px;
    padding: 0; }

.about-brand-sec {
  margin-bottom: 110px; }
  .about-brand-sec:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: -110px;
    width: 100%; }
    @media screen and (max-width: 1150px) {
      .about-brand-sec:before {
        top: -40px; } }
  .about-brand-sec .comment-text {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px; }
  .about-brand-sec h3 {
    font-family: Raleway;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 60px; }
    @media screen and (max-width: 575px) {
      .about-brand-sec h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px; } }
  .about-brand-sec .logo-div {
    max-height: 404px;
    max-width: 404px;
    margin: auto; }
    @media screen and (max-width: 575px) {
      .about-brand-sec .logo-div {
        height: 130px;
        width: 130px; } }
  .about-brand-sec .img-brand-logo {
    height: 100%;
    display: block;
    margin: auto; }
  .about-brand-sec .about-brand-text {
    padding-top: 45px;
    margin-bottom: 45px; }
    @media screen and (max-width: 575px) {
      .about-brand-sec .about-brand-text {
        margin-bottom: 5px; } }

#about-brand {
  position: relative;
  top: -120px; }

footer {
  padding-top: 80px;
  padding-bottom: 100px; }
  footer .contacts {
    text-align: center; }
    footer .contacts p {
      font-weight: 500;
      color: #000;
      font-size: 30px;
      font-family: "Raleway", sans-serif;
      margin-bottom: 16px; }
      @media screen and (max-width: 860px) {
        footer .contacts p {
          font-size: 24px; } }
    footer .contacts img {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 18px; }

/*# sourceMappingURL=main-style.css.map */
