@font-face {
  font-family: 'Liana';
  src: url('../fonts/Liana.woff2') format('woff2'),
  url('../fonts/Liana.woff') format('woff'),
  url('../fonts/Liana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "bootstrap.css";

$font-liana : 'Liana';
$liana-black : #000;
$liana-white : #fff;
$main-font-color : #000;
$main-font : 'Raleway', sans-serif;

@mixin font-liana($size, $color) {
  font-weight: 400;
  color: $color;
  font-size: $size;
  font-family: $font-liana;
}

@mixin main-font($size, $weight) {
  font-weight: $weight;
  color: $main-font-color;
  font-size: $size;
  font-family: $main-font;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  @include main-font(14px, 500);
  padding-top: 12px;

  //position: absolute;
  //left: 0;
  //right: 0;
  padding-bottom: 20px;

  ul {
    flex-wrap: wrap;
  }

  li {
    padding-top: 2px;
    list-style: none;
    margin: 0 18px;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
    @include max-screen(768px) {
      margin-left: 0;
    }
  }
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: auto;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.language {
  padding-top: 2px;
  text-align: end;
}

div.carousel {
  position: relative;
}
.btn-scroll-right{
  position: absolute;
  right: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  z-index: 1;
  padding: 0;
}
.btn-scroll-left{
  position: absolute;
  left: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  z-index: 1;
  padding: 0;
  transform: rotate(180deg);
}


ul.items {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0;
  margin: 0;
  /*margin-left: -320px;*/
  /*margin-left: -400px;*/
  position: relative;
  align-items: center;
}
ul.items li {
  list-style-type: none;
  /*width: 288px;*/
  /*width: 400px;*/
  transition:
          transform .5s linear,
          left .5s linear,
          margin-left .5s linear,
          margin-right .5s linear,
          width .5s linear,
          height .5s linear;
  position: relative;
  //left: 0;
  /*transform: scale(0);*/
  width: 0;
  height: 0;
}
/* all items */
ul.items li span {
  display: none;
}

ul.items li:nth-child(3) {
  margin-left: 10px;
}
ul.items li:nth-child(5) {
  margin-right: 10px;
}

/* right items */
ul.items li:nth-child(2),
ul.items li:nth-child(6) {
  /*transform: scale(.5);*/
  width: 200px;
  height: 300px;
}
ul.items li:nth-child(3) {
  /*margin-left: -49px;*/
  /*margin-right: 49px;*/
}
/* center item */
ul.items li:nth-child(4) {
  /*transform: scale(1);*/
  width: 400px;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* left items */
ul.items li:nth-child(3),
ul.items li:nth-child(5) {
  /*transform: scale(.75);*/
  width: 300px;
  height: 450px;
}
ul.items img {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 100%;
  height: 100%;
}

/* titles */
ul.titles {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 45%;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: red;
  cursor: pointer;
}
ul.titles li {
  list-style-type: none;
  transform: scale(0);
  opacity: 0;
  transition: transform .5s linear, opacity .5s linear;
  position: absolute;
  width: 100%;
  top: 0;
  @include font-liana(170px, $liana-white);
}
ul.titles li:nth-child(4) {
  opacity: 1;
  transform: scale(1);
}
div.carousel a.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36%;
}
div.carousel a.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36%;
}

h1 {
  @include font-liana(100px, $liana-black);
}

.text {
  @include main-font(16px, 400);
}

.small-title {
  @include main-font(20px, 500);
  margin-bottom: 24px;
}

.main-section {
  article {
    padding-top: 100px;
  }
}