@font-face {
  font-family: 'Liana';
  src: url('../fonts/Lainy_Day.woff2') format('woff2'),
  url('../fonts/Lainy_Day.woff') format('woff'),
  url('../fonts/Lainy_Day.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "bootstrap.css";


$font-liana: 'Liana';
$liana-black: #000;
$liana-white: #fff;
$main-font-color: #000;
$main-font: 'Raleway', sans-serif;

@mixin font-liana($size, $color) {
  font-weight: 400;
  color: $color;
  font-size: $size;
  font-family: $font-liana;
}

@mixin main-font($size, $weight) {
  font-weight: $weight;
  color: $main-font-color;
  font-size: $size;
  font-family: $main-font;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  @include main-font(14px, 500);
  padding-top: 12px;

  padding-bottom: 12px;

  svg {
    width: 100%;
  }

  ul {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    padding-top: 2px;
    list-style: none;
    margin: 0 18px;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    a {
      &:hover {
        color: #000;
      }
    }

    @include max-screen(768px) {
      margin-left: 0;
    }
  }
}

.logo {
  display: block;
  max-width: 60px;

  img {
    display: block;
    width: 100%;
  }
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: auto;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.language {
  padding-top: 2px;
  text-align: end;
}

div.carousel {
  position: relative;
}

.btn-scroll-right {
  position: absolute;
  right: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0;
}

.btn-scroll-left {
  position: absolute;
  left: 10px;
  top: 48%;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: rotate(180deg);
}


ul.items {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0;
  margin: 0;
  /*margin-left: -320px;*/
  /*margin-left: -400px;*/
  position: relative;
  align-items: center;
  @include max-screen(575px){
  //justify-content: center;
    height: 400px;
  }
}

ul.items li {
  list-style-type: none;
  /*width: 288px;*/
  /*width: 400px;*/
  transition: transform .5s ease-in-out,
  left .5s ease-in-out,
  margin-left .5s ease-in-out,
  margin-right .5s ease-in-out,
  width .5s ease-in-out,
  height .5s ease-in-out,
  padding-top .5s ease-in-out;
  position: relative;
  //left: 0;
  /*transform: scale(0);*/
  width: 0;
  height: 0;
}

/* all items */
ul.items li span {
  display: none;
}

ul.items li:nth-child(3) {
  margin-left: 10px;
  @include max-screen(575px){
    margin-left: -105px;
    margin-right: -10px;
  }
}

ul.items li:nth-child(5) {
  margin-right: 10px;
  @include max-screen(575px){
    margin-right: -105px;
    margin-left: -10px;
  }
}

/* right items */
ul.items li:nth-child(2),
ul.items li:nth-child(6) {
  /*transform: scale(.5);*/
  width: 200px;
  height: 300px;
  @include max-screen(765px){
    width: 0px;
    height: 0px;
  }
}

ul.items li:nth-child(3) {
  /*margin-left: -49px;*/
  /*margin-right: 49px;*/
}

/* center item */
ul.items li:nth-child(4) {
  /*transform: scale(1);*/
  width: 400px;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  @include max-screen(575px){
  padding-top: 50px;
    height: 400px;
  }
}

/* left items */
ul.items li:nth-child(3),
ul.items li:nth-child(5) {
  /*transform: scale(.75);*/
  width: 300px;
  height: 450px;
  @include max-screen(575px){
    padding-top: 50px;
    height: 300px;
  }
}

ul.items img {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 100%;
  height: 100%;
}

/* titles */
ul.titles {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 45%;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: red;

  a {
    color: white;
  }
}

ul.titles li {
  list-style-type: none;
  transform: scale(0);
  opacity: 0;
  transition: transform .5s linear, opacity .5s linear;
  position: absolute;
  width: 100%;
  top: 0;
  @include font-liana(170px, $liana-white);
  @include max-screen(992px) {
    font-size: 140px;
  }
  @include max-screen(575px) {
    font-size: 50px;
  }
}

ul.titles li:nth-child(4) {
  opacity: 1;
  transform: scale(1);
}

div.carousel a.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36%;
}

div.carousel a.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36%;
}

h1 {
  @include font-liana(100px, $liana-black);
}

.text {
  @include main-font(16px, 400);
  line-height: 24px;
}

.title {
  @include main-font(30px, 500);
  @include max-screen(912px) {
    font-size: 24px;
  }
}

.main-section {
  position: relative;

  //background-image: url("../images/freedom-main-sec.jpg");
  //background-position: right top;
  //background-repeat: no-repeat;
  //background-width: 50%;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: -1px;
    width: 100%;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include max-screen(800px) {
      display: none;
    }
  }

  .big-pic-main {
    position: relative;
    margin-right: -200px;
    max-width: 715px;

    img {
      display: block;
      width: 100%;
    }

  }

  @include max-screen(1060px) {
    .main-sec-article {
      padding-top: 65px;
    }

    .main-sec-p-cont {
      margin-bottom: 45px;
    }

    .button {
      margin-bottom: 60px;
    }
  }

  @include max-screen(912px) {
    h1 {
      font-size: 50px;
    }
  }

  @include max-screen(830px) {
    .button {
      padding: 15px 30px;
    }
  }

  @include max-screen(800px) {
    .cont.d-flex {
      flex-direction: column-reverse;
    }


    .big-pic-main {
      margin: 0 -20px;
      max-width: 800px;

      &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: gray;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }

    .main-sec-article {
      max-width: 100%;
      margin-right: 0;
    }

    .button {
      display: none;
    }

    .main-sec-p {
      max-width: 100%;
    }

    h1 {
      position: absolute;
      top: 23px;
      right: 20px;
      z-index: 2;
    }

    .main-sec-p-cont {
      margin-bottom: 0;
    }

  }

  @include max-screen(550px) {
    .main-sec-p-cont {
      flex-direction: column;
    }

    .main-sec-p {
      margin-bottom: 0;
      max-width: 100%;

      &:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

}

//.rebirth-main-img {
//  background-image: url("../images/rebirth-main.jpg");
//}

//.light-main-sec {
//  background-image: url("../images/light-main-pic.jpg");
//}

//.flight-main-sec {
//  background-image: url("../images/flight-main-sec.jpg");
//}

.main-sec-picture {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 660px;
  padding: 0;
}

.main-sec-article {
  padding-top: 105px;
  max-width: 49%;
  margin-right: 20px;

  .title {
    margin-bottom: 24px;
  }
}

.main-sec-p {
  &:first-of-type {
    margin-right: 25px;
    margin-bottom: 0;
  }

  max-width: 292px;
  width: 100%;
}

.main-sec-p-cont {
  display: flex;
  margin-bottom: 60px;
}


.button {
  text-align: center;
  display: inline-block;
  color: #000;
  margin-bottom: 120px;
  @include main-font(14px, 400);
  padding: 30px 55px;
  border-radius: 50%;
  border: 1px solid #000;
}


.cont {
  max-width: 1252px;
  margin: auto;
  @include max-screen(1300px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  //@include max-screen(800px) {
  //  padding-left: 20px;
  //  padding-right: 20px;
  //}
}

.section2 {
  padding-top: 150px;
  padding-bottom: 150px;

  .sec2-picture {
    max-width: 400px;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  @include max-screen(650px) {

    padding-top: 60px;

    .cont.d-flex {
      flex-direction: column-reverse;

      .sec2-picture {
        margin-right: 0;

        &:nth-of-type(1) {
          max-width: 100%;
        }

        &:nth-of-type(2) {
          max-width: 75%;
          position: relative;
          z-index: 2;
          bottom: 125px;
          left: 25%;
          min-width: 205px;
          @include max-screen(495px) {
            bottom: 60px;
          }
        }

        &:nth-of-type(3) {
          max-width: 75%;
          min-width: 205px;
          transform: scale(-1, 1);
        }

      }

    }
  }

}

.section-match {

  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  article {
    padding-top: 72px;

    @include max-screen(1085px) {
      padding-top: 10px;
    }

    @include max-screen(943px) {
      width: 100%;
      .d-flex {
        justify-content: center;
      }
    }

  }

  .match-pictures {
    margin-bottom: 24px;
  }

  .match-big-picture {
    img {
      display: block;
      width: 100%;
    }

    max-width: 616px;
    margin-right: 16px;
    max-height: 800px;
    height: 100%;
    overflow: hidden;

    @include max-screen(943px) {
      display: none;
    }
  }

  .match-small-pic {
    width: 49%;

    img {
      display: block;
      width: 100%;
      margin-bottom: 24px;
    }

    max-width: 296px;

    &:first-of-type {
      margin-right: 16px;
      @include max-screen(943px) {
        margin-right: 20px;
      }


    }

    //&:last-of-type {  // на мій погляд
    //  @include max-screen(943px) {
    //    position: relative;
    //    left: 10%;
    //    top: 100px;
    //  }
    //}
  }

  .title {
    text-align: center;
    margin-bottom: 24px;

    @include max-screen(660px) {
      text-align: start;
    }

    @include max-screen(416px) {
      max-width: 205px;
    }


  }

  .match-text {
    @include main-font(16px, 400);
    line-height: 24px;
    margin-bottom: 0;

    @include max-screen(610px) {
      font-size: 14px;
    }

  }

  @include max-screen(943px) {
    padding-bottom: 60px;
  }


}

.rest-cardigans {
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 150px;

  .cont {
    position: relative;
  }

  h4 {
    margin-bottom: 60px;
    @include max-screen(980px) {
      margin-bottom: 24px;
    }
  }

  //.owl-pic {
  //  max-width: 400px;
  //
  //  img {
  //    display: block;
  //    width: 100%;
  //  }
  //}
  @include max-screen(1150px) {
    padding-top: 50px;
    padding-bottom: 60px;
    //margin-bottom: 34px;
  }

  @include max-screen(680px) {
    padding-top: 12px;
  }

  //@include max-screen(780px) {
  //  padding-bottom: 112px;
  //}

}

//.owl-carousel .owl-nav.disabled {
//  display: block;
//}
//
//.owl-carousel {
//  position: relative;
//}
//.owl-carousel .owl-nav button.owl-prev {
//  width: 40px;
//  height: 40px;
//  background-image: url("../images/btn-prev.svg");
//  position: absolute;
//  top: 23%;
//  left: -50px;
//  transition: all 0.3s;
//  border-radius: 50%;
//
//  &:hover {
//    transition: all 0.3s;
//    transform: scale(1.2);
//  }
//
//  &:active {
//    background-color: #565656;
//    transition: all 0.3s;
//    transform: scale(1);
//  }
//}

//.owl-carousel .owl-nav button.owl-next {
//  width: 40px;
//  height: 40px;
//  background-image: url("../images/btn-next.svg");
//  position: absolute;
//  top: 24%;
//  right: -50px;
//  transition: all 0.3s;
//  border-radius: 50%;
//  &:hover {
//    transition: all 0.3s;
//    transform: scale(1.2);
//  }
//
//  &:active {
//    background-color: #565656;
//    transition: all 0.3s;
//    transform: scale(1);
//  }
//}

//.owl-item.active.center {
//  margin: 0;
//  transform: scale(0.8);
//}


.ul-carousel {
  list-style: none;
  display: flex;
  align-items: center;
  height: 650px;

  padding: 0;
  //position: relative;

  @include max-screen(930px) {
    height: 610px;
  }

  @include max-screen(780px) {
    height: 530px;
  }

  @include max-screen(680px) {
    height: 450px;
  }
  @include max-screen(500px) {
    height: 380px;
  }
  @include max-screen(380px) {
    height: 325px;
  }
  //@include max-screen(325px) {
  //  height: 257px;
  //}



  li {
    position: relative;
    box-sizing: border-box;
    transition: width 0.3s ease-in, height 0.3s ease-in;
    width: 0;
    //height: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:nth-of-type(1) {

    }

    &:nth-of-type(2) {
      display: block;
      max-width: 510px;
      //height: 650px;
      //height: 100%;
      width: 100%;
      margin-right: 125px;
      @include max-screen(1250px) {
        margin-right: 90px;
      }
      @include max-screen(1150px) {
        margin-right: 50px;
      }
      @include max-screen(1050px) {
        margin-right: 20px;
      }
    }

    &:nth-of-type(3) {
      display: block;
      max-width: 404px;
      //height: 80%;
      width: 80%;
      //height: 550px;
      margin-right: 125px;
      @include max-screen(1250px) {
        margin-right: 90px;
      }
      @include max-screen(1150px) {
        margin-right: 50px;
      }
      @include max-screen(1050px) {
        margin-right: 20px;
      }
    }

    &:nth-of-type(4) {
      display: block;
      max-width: 510px;
      width: 100%;
      //height: 100%;
      //height: 650px;


      //@include max-screen(1150px) {
      //  display: none;
      //}
    }

  }
}

.arrow-cont {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 2px;
  right: 0;

  @include max-screen(1300px) {
    right: 20px;
  }

  @include max-screen(780px) {
    position: static;
    margin: auto;
  }

}

.arrow-left {
  display: inline-block;
  //top: 0;
  //right: 15%;
  height: 52px;
  width: 105px;
  //position: absolute;
  background-image: url("../images/arrow-left-new.svg");
  background-size: contain;
  background-repeat: no-repeat;
  @include max-screen(500px) {
    transform: scale(0.9);
  }
}

.arrow-right {
  //position: absolute;
  //top: 0;
  //right: 10px;
  display: inline-block;
  height: 52px;
  width: 105px;
  background-image: url("../images/arrow-left-new.svg");
  transform: scale(-1, 1);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-screen(500px) {
    transform: scale(-0.9, 0.9);
  }
}

.overflow-x {
  overflow-x: hidden;
}

.m {
  margin-right: -450px;
}

.order-sec {

  padding-top: 24px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .flex-adapt {
    @include max-screen(998px) {
      flex-direction: column-reverse;
    }

  }

  .title {
    margin-bottom: 60px;
    @include max-screen(896px) {
      margin-bottom: 24px;
    }
  }

  .photo-designer {
    max-width: 616px;

    img {
      display: block;
      width: 100%;
    }

    @include max-screen(998px) {
      margin: auto;
    }
  }

  .designer-text {
    max-width: 635px;
    width: 100%;

    @include max-screen(998px) {
      max-width: 100%;
      margin-bottom: 36px;
    }
  }

  .designer-title {
    @include font-liana(60px, $liana-black);
    line-height: 60px;
    position: relative;
    margin-bottom: 70px;
    padding-top: 116px;
    right: 10%;
    margin-right: -10%;

    @include max-screen(1163px) {
      font-size: 45px;
      margin-bottom: 45px;

    }

    @include max-screen(1120px) {
      padding-top: 25px;
    }

    @include max-screen(998px) {
      margin-right: 0;
      padding-top: 0;
      position: static;
      max-width: 700px;
    }

    @include max-screen(500px) {
      font-size: 40px;
      margin-bottom: 40px;

    }

  }

  .designer-speech {
    @include main-font(20px, 400);
    padding-left: 126px;
    position: relative;
    margin-bottom: 0;
    line-height: 28px;

    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 17px;
      background-image: url("../images/dots.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 100px;

      @include max-screen(1163px) {
        position: relative;
        left: 0;
      }

      @include max-screen(896px) {
        top: 7px;
      }

    }

    span {
      display: block;
      max-width: 510px;
      margin-bottom: 30px;

      @include max-screen(1163px) {
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-bottom: 40px;
        @include max-screen(470px) {
          margin-bottom: 12px;
        }
      }

      @include max-screen(998px) {
        max-width: 900px;
      }
    }


    @include max-screen(1163px) {
      padding-left: 30px;
    }

    @include max-screen(998px) {
      padding-left: 0;
    }

    @include max-screen(500px) {
      font-size: 16px;
    }

  }

  .designer-name {
    @include main-font(16px, 600);
    text-align: end;
    margin-bottom: 0;

  }

  .test-j {
    padding-top: 150px;
    margin-bottom: 174px;
  }

}

.about-main-sec {
  background-image: url("../images/about-main-big.jpg");
  background-position: top center;
  background-size: cover;
  height: 92vh;
  @include max-screen(767px){
    background-image: url("../images/about-main-s.jpg");
  }
  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .pro-collection {
    padding-top: 20%;
    margin-bottom: 50vh;
    margin-left: 22px;
    margin-right: 22px;
    font-family: Liana;
    font-size: 100px;
    position: relative;
    @include max-screen(767px){
      font-size: 50px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .span-collection{
    @include max-screen(575px){
      position: relative;
      top: 160px;
    }
  }
}

.about-article-sec {
  padding-top: 150px;
  margin-bottom: 150px;
  @include max-screen(767px){
    padding-top: 60px;
    margin-bottom: 60px;
  }
  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: -150px;
    width: 100%;
    @include max-screen(767px){
      bottom: -60px;
    }
  }
  article{
    //padding: 0;
  }

  .about-main-comment {
    width: 494px;
    font-family: Raleway;
    font-size: 30px;
    line-height: 48px;
    align-self: center;
    @include max-screen(575px){
      font-size: 20px;
      line-height: 30px;
    }

    .comment-vidrodzhennya {
      font-family: Liana;
      font-size: 60px;
      @include max-screen(1199px){
        font-size: 52px;
      }
      @include max-screen(575px){
        font-size: 34px;
      }
    }
  }
  .comment-text {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    @include max-screen(575px){
      font-size: 14px;
      line-height: 20px;
    }
  }
  .left-part {
    margin-bottom: 24px;
    padding: 0;
  }
}

.about-brand-sec {
  margin-bottom: 110px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: -110px;
    width: 100%;
    @include max-screen(1150px){
      top: -40px;
    }
  }


  .comment-text {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
  }

  h3 {
    font-family: Raleway;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 60px;
    @include max-screen(575px){
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }

  .logo-div {
    max-height: 404px;
    max-width: 404px;
    margin: auto;
    @include max-screen(575px){
      height: 130px;
      width: 130px;
    }
  }

  .img-brand-logo {
    height: 100%;
    //width: 100%;
    display: block;
    margin: auto;
  }

  .about-brand-text {
    padding-top: 45px;
    margin-bottom: 45px;
    @include max-screen(575px){
      margin-bottom: 5px;
    }
  }
}
#about-brand{
  position: relative;
  top: -120px;
}

footer {

  padding-top: 80px;
  padding-bottom: 100px;

  .contacts {
    text-align: center;

    p {
      @include main-font(30px, 500);
      margin-bottom: 16px;

      @include max-screen(860px) {
        font-size: 24px;
      }
    }

    img {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 18px;
    }

  }
}